<div class="container">
    <form action="/calc_bill" method="POST">
        <h1>Phone bill widget</h1>
        <h2>Calculate total phone bill for user</h2>
        {{#if messages.info}}
            <div class="errorMsg" id="validate">
                <h4> {{messages.info}} </h4>
            </div>          
        {{/if}}
        <div class="name">
            <label for="Username">Username</label>
            <input class="username" type="text" name="name" placeholder="Enter your name" value="" />
        </div>
        <div class="string">
            <label for="usage_string">Usage string</label>
            <input class="usage_string" type="text" name="usage" value="" />
        </div>
        <div class="calculateBtn">
            <button class="btn" type="submit">Calculate total phone bill</button>
        </div>
        <div class="total">
            <label for="Phone_bill"> Phone bill total </label>
            <span class="answer" value="" type="span"></span>
        </div>
    </form>
    <div class="list_price_plans">
        <a href="/price_plans">Show list of price plans</a>
    </div>
    <div class="Show_users">
        <a href="/link_user">Show users that are link to a price plan</a>
    </div>
    
</div>