<div class="Allocate_user">
    <form action="/link_user" method="post">
    <h2>Allocate price plan to username</h2>
    <div class="Username">
        <label for="Username">Username</label>
        <input class="username" type="text" name="name" value="" />
    </div>
    <label for="cars">Price Plan</label>
    <select class="prices" >
        <option value=""></option>
        <option value="sms">SMS 100</option>
        <option value="sms">SMS 200</option>
        <option value="call">Call weekely</option> Username prices allocation
    </select>
    <div class="allocation">
        <button class="btn" type="submit">Allocate</button>
    </div>
    </form>
</div>