
<div class="pricePlan">
    <form action="/price_plans" method="post">
        <h2>Price plans</h2>
        <table>
            <tr>
                <th>SMS 100</th>
                <th><a href="/price_plan/{{name}}">View users</a></th>
            </tr>
            <tr>
                <th>SMS 200</th>
                <th><a href="/price_plan/{{name}}">View users</a></th>
            </tr>
            <tr>
                <th>Call weekely</th>
                <th><a href="/price_plan/{{name}}">View users</a></th>
            </tr>
        </table>
    </form>
</div>
